[DEFAULT]
hostip={{ contrail_address }}
minimum_diskGB={{ contrail_minimum_disk }}

[DISCOVERY]
server={{ hostvars[groups['config'][0]]['contrail_address'] }}
port=5998

[COLLECTOR]
#server_list=ip1:port1 ip2:port2
