#contrail-config-marker-start

listen contrail-config-stats :5937
	mode http
	stats enable
	stats uri /
	stats auth haproxy:contrail123

frontend quantum-server *:9696
	default_backend quantum-server-backend

frontend  contrail-api *:8082
	default_backend contrail-api-backend
	timeout client 3m

frontend  contrail-discovery *:5998
	default_backend contrail-discovery-backend

backend quantum-server-backend
	option nolinger
	balance roundrobin
{% for cur_host in play_hosts %}	server {{ hostvars[cur_host]['contrail_address'] }} {{ hostvars[cur_host]['contrail_address'] }}:9697 check inter 2000 rise 2 fall 3
{% endfor %}

backend contrail-api-backend
	option nolinger
	timeout server 3m
	balance roundrobin
{% for cur_host in play_hosts %}	server {{ hostvars[cur_host]['contrail_address'] }} {{ hostvars[cur_host]['contrail_address'] }}:9100 check inter 2000 rise 2 fall 3
{% endfor %}

backend contrail-discovery-backend
	option nolinger
	balance roundrobin
{% for cur_host in play_hosts %}	server {{ hostvars[cur_host]['contrail_address'] }} {{ hostvars[cur_host]['contrail_address'] }}:9110 check inter 2000 rise 2 fall 3
{% endfor %}

#contrail-config-marker-end
