export OS_USERNAME={{ contrail_admin_user }}
export SERVICE_TOKEN={{ contrail_service_token }}
export OS_SERVICE_ENDPOINT=http://{{ hostvars[groups['openstack'][0]]['contrail_address'] }}:35357/v2.0/
